@font-face {
    font-family: 'Scor';
    src: url('/fonts/GT-America-Standard-Regular.woff');
}

@font-face {
    font-family: 'Scor-Bold';
    src: url('/fonts/GT-America-Expanded-Bold.woff');
}

@keyframes spin{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }	
}


:root {
    --main-color: rgb(147,211,181);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
	font-family: 'Scor';
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
}

.intro-panel {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(/images/banana/scorBanana.png) center center;
	background-size: auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-color: transparent;
}

.scor-logo {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(/images/logos/Scor_Logo_Horizontal.png) 100px top;
	background-size: 150px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.intro-panel-button {
    bottom: 130px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
	z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outro-panel-button {
    margin: auto;
	z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-panel-button span {
    font-family: 'Scor-Bold';
    padding: 11px 25px 13px;
    letter-spacing: 0.25px;
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 22px;
    cursor: wait;
    text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.outro-panel-button span {
    font-family: 'Scor-Bold';
    padding: 11px 25px 13px;
    letter-spacing: 0.25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.intro-panel-button span:hover,
.outro-panel-button span:hover {
	transition: all .2s ease-in-out;
	color: #FEFEFE;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.intro-panel-button span:hover,.intro-panel-button span:active,.intro-panel-button span:visited,.intro-panel-button span:focus {
	background-color: var(--main-color);
	outline: none;
	color: white;
}

.outro-panel-button span:hover,.outro-panel-button span:active,.outro-panel-button a:visited,.outro-panel-button span:focus {
	background-color: var(--main-color);
	outline: none;
	color: white;
}

.outro-panel {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(/images/pics/scor_picture_3.jpg) left top;
	background-size: 50% 50%;
	background-attachment: fixed;
	background-repeat: repeat;
    background-color: transparent;
}

.outro-panel .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-panel.transition1 {
	width: 100%;
	height: 50%;
	position: relative;
    background: var(--main-color);
}

.transition-panel.transition1 .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(/images/logos/Scor_Play_the_mountains-01.png) center center;
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.transition-panel.transition2 {
	width: 100%;
	height: 50%;
	position: relative;
    background: transparent;
}

.transition-panel.transition2 .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(/images/pics/scor_picture_1.jpg) center center;
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.transition-panel.transition3 {
	width: 100%;
	height: 50%;
	position: relative;
    background: var(--main-color);
}

.transition-panel.transition3 .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(/images/logos/SCOR_Typo.png) center center;
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.transition-panel.transition4 {
	width: 100%;
	height: 50%;
	position: relative;
    background: transparent;
}

.transition-panel.transition4 .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(/images/pics/scor_picture_2.jpg) center center;
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#slide1 {
	background: url(/images/slides/4060_LT_GX_pur_pur_pur.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide2 {
	background: url(/images/slides/4060_LT_NX_sla_sla_sla.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide3 {
	background: url(/images/slides/4060_ST_GX_min_min_min.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide4 {
	background: url(/images/slides/4060_ST_NX_sla_sla_sla.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide5 {
	background: url(/images/slides/4060_Z_LT_SLX_sla_sla_sla.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide6 {
	background: url(/images/slides/4060_Z_LT_XT_pur_pur_pur.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide7 {
	background: url(/images/slides/4060_Z_ST_SLX_sla_sla_sla.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

#slide8 {
	background: url(/images/slides/SCOR-4060-Z-ST-XT.png) center center no-repeat;
	background-size: 60% auto;
	background-attachment: fixed;
}

.bike-info {
    display: flex;
    flex-direction: column-reverse;
}

.bike-name {
    font-family: 'Scor-Bold';
    font-size: 1.5rem;

}

.bike-text {
    font-family: 'Scor';
    font-style: italic;
}